<html>
<head>
    
</head>
<body>
    <div class="row">
        <form class="col-8">
            <div class="col" style="margin-top:20%">
                <h5>Email</h5>
                <input class="col-4" />

                <h5>Senha</h5>
                <input class="col-4" />
                <br /> <br />
                <button href="/Pessoas/index" class="col-4 btn btn-danger">Entrar</button>

            </div>
        </form>
        <div class="col-4">
            <img style="height:500px; right:500px;" src="https://img.freepik.com/vetores-gratis/sucesso-do-negocio-de-inicializacao-do-conceito-empreendedorismo-pensar-e-desenvolver-novas-ideias-organizar-e-lancar-nova-inicializacao-de-produtos-de-inovacao-ou-iniciar-uma-nova-ideia-de-lampada-de-negocios-da-empresa-e-plano-de-destino_73637-883.jpg?w=826" />
        </div>
    </div>

</body>
</html>
