<html>
<head>
    
</head>
<body>
    <form>
        <div class="col">
            <div>
                <ul>
                    <li>Nome</li>
                    <li>Senha</li>
                </ul>
            </div>

        </div>
    </form>

</body>








</html>
